*{
    background-color:chartreuse;
    text-align: center;
    font-weight: bolder;
}
button{
    font-size: xx-large;
    font-weight: bolder;
    color: blue;
    margin: 12px 8px;
    background-color: darkkhaki;
}
input{
    background-color: white;
    height: 70px;
    font-size: xx-large;
    margin: 12px;

}
#hea{
    font-size: xx-large;
    color: red;
    border: red;
    background-color: yellow;
    border-radius: 35px;
    font-size: 50px

}
div{
    font-weight: bolder;
    font-size: xx-large;
}   
#res{
    color: purple;
   
   
}